body { background-color: black;}
*{ 
    
    color:white ; 
    font-family: sans-serif;
    
}
:root { 
    --netred : rgb(196, 24, 24);
    --font :sans-serif;
}
#logo{
    transform:translateY(-20px ) ;
    margin-left:20px ;  
    height: 90px ;
    width :90px ;
    display: inline-block;
}
#sign-in{ 
    padding:15px ; 
    float:right ; 
    margin-right: 50px;
    background-color: var(--netred) ;
    padding:7px;
    margin-top:10px;
    border-radius: 5px;
    text-decoration: none ;
    color:white;
    font-family: var(--font);
}
#lang-but{ 
   
    float:right ; 
  
    
    padding:7px;
    
    border-radius: 5px;
    text-decoration: none ;
    border: white;
    color: white;
    font-family: var(--font);
}
#sign-in:active{ 
    color: white;
}
#main-back{ 
    margin-top: -90px;
    z-index: -4;
    position: absolute;
    height: 16% ;
    width:100%;
    opacity: 0.5;

}
nav{
   
    position: relative;
    
}
.main-div{ 
    text-align: center;
    
   
}
.getst{ 
    color: white;
    background-color: var(--netred);
    position: relative;
    height: 30px;
    text-align: center;
    width: 200px;
    padding: 0;
    text-decoration: none;
    align-items: center;
    align-content: center;
    border-radius: 5px;


}
.getst:hover{ 
    color:white;
}
#mail{ 
 
    position: relative;
    display: inline-block;
    border-radius: 5px;
    height: 30px;
}
#getst,#mail{ 
    width:200px ; 
}
hr{ 
    width:100%;
    color:grey;
    
}
#pseudo {
    height: 220px;
}
#tv{
    height: 300px ;
    
    position: relative; 
    margin-left: 60%;  
    top:-200px ;
    padding-bottom: 0; 
}
.desc-1{ 
    padding: 50px ;
}

#tvgif{ 
    padding: 15px ;
    width:300px ;
    height: 200px ;
    position: relative; 
    margin-left: 60%;  
    top:-200px ; 
    border-radius: 20px ;
}

  
@media(max-width:450px){ 
    .getst{
        display: block;
    }
    #sign-in{ margin-right: 10px;}
    #getst,#mail{ 
      
        display: block;
    }
    #mail{ 
        margin-bottom: 30px;
       
    }
    #al{
        margin-left: 22%;
    }
    #tv,#tvgif{
        top: auto; 
        display: block;
        margin-left: 0%;
        width: 100% ;
    }
    #tvgif{ 
        width:100%; 
       height: 250px ; 
    }
    #main-back{ 
        height: 17.5%;
    }
   
}
#line{ 
    width: 100%;
    opacity: 0.7;
    background-color: grey;
    height: 10px;
}
.ques{ 
    height: 400px ;
    text-align: center;
    /* color:black;
    height: 200px;
    background-color: white; */
}
.panel {
    padding : 7px ; 
    width:400px ;
    
}
.panel-heading{ 
    background-color: grey;
    border-radius: 5px;
    margin: 5px;
}

.data{
    color:white;
    text-decoration: none;
    padding:20px ;
    font-size: small;
}
.data:hover{ 
    color:white; 
}
.panel-group{ 
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
}
footer{ 
    text-align: center;
}
footer>img{
    height: 150px;
}