@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap");
body {
  background-color: black;
  position: sticky;
  overflow: visible;
  width: 100%;
  transition: all 1s;
}

* {
  user-select: none;
  color: white;
  font-family: sans-serif;
}

header {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("background-netflix.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#none {
  height: 13rem;
}
#lang-top {
  float: right;
  margin: 0 1.5em 0 0;
  padding: 7px 19px 7px 7px;
  font-size: larger;
  background-repeat: no-repeat;
  background: transparent;
  border-color: rgb(166, 166, 166, 0.5);
  border-width: 1px;
  box-shadow: none;
}
:root {
  --netred: rgb(255, 21, 21);
  --myfont: "Darker Grotesque", sans-serif;
  --netgrey: rgb(64, 64, 64);
}
#logo {
  height: 4rem;
  width: 13rem;
  float: left;
}

#sign-in {
  font-size: large;
  padding: 0.2em 0.7em 0.2em 0.7em;
  float: right;
  margin-right: 4vh;
  background-color: var(--netred);
  border-radius: 0.2rem;
  text-decoration: none;
  color: white;
}
#intro-movies {
  padding-bottom: 0 !important;
  font-size: 4em;
}
#watch {
  font-size: 1.5em;
  font-weight: lighter;
}
#ready {
  font-size: large;
}
nav {
  margin-left: auto;
  padding: 1rem;
  margin-right: auto;
}
#lang-but {
  float: right;
  font-weight: lighter;
  border-radius: 5px;
  text-decoration: none;
  border: white;
  color: white;
  font-family: var(--font);
}

#sign-in:active {
  color: white;
}
#sign-in:hover {
  background-color: red;
}
.main-div {
  text-align: center;
  margin-top: 7.3%;
}

.getst {
  font-size: larger;
  font-weight: bold;
  font-family: "Bellota Text", cursive;
  border: none;
  color: white;
  background-color: var(--netred);
  position: relative;
  height: 3.8em;
  text-align: center;
  margin: 0;
  padding: 0 0.8 0 0.8;
  text-decoration: none;
  align-items: center;
  align-content: center;
  transform: translateX(-10px);
  width: 13em;
}
.getst:hover {
  background-color: red;
}
#mail {
  color: black;
  font-family: "Bellota Text", cursive;
  width: 39em;
  margin: 0;
  border: none;
  height: 4.3rem;
  position: relative;
  display: inline-block;
  font-size: smaller;
}

.after-line:not(.home) {
  width: 100%;
  color: grey;
  height: 6px;
  color: rgb(55, 55, 55);
  background-color: rgb(61, 61, 61);
  border: none;
  opacity: 1;
}

.desc-plus-image {
  padding: 1em 5em 4em 13em;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100rem;
}
.content-images {
  display: inline-block;
  vertical-align: middle;
  width: 37rem;
  height: 25rem;
}

.content-text {
  font-size: 1.5em;
  display: inline-block;
  padding-right: 10%;
}
.card-content-head {
  font-weight: bold;
}
#child-img {
  padding-right: 7.4%;
}
#faqs {
  /* background-color: blue; */
  height: 80vh;
  width: 120vh;
  margin-left: auto;
  margin-right: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
.qa-container {
  width: 100%;
  margin-left: auto;
  margin-top: 5%;
}
.close {
  display: none;
}
#line {
  background-color: black !important;
  border: none;
  width: 100%;
  height: 1.5px;
  margin: 0;
}
#ques,
.ans {
  font-weight: lighter;
  padding: 1rem;
  font-size: 3m;
  border: none;
  vertical-align: middle;
}
#ques {
  vertical-align: middle;

  margin-right: 60vh;
}

.qa-box {
  margin-top: 8px;
  font-size: large;
  font-family: "Didact Gothic", sans-serif;
  color: white;
  background-color: #303030;

  width: 45rem;
  vertical-align: middle;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.add,
.close {
  background-color: #303030;
  float: right;
  border: none;
  font-size: 3rem;
  margin-right: 2vh;
  font-weight: lighter;
}

.ans {
  display: none;
}
@keyframes ch-open {
  0% {
    height: 0vh;
  }
  100% {
    height: 25vh;
  }
}
#home {
  text-align: center;
  z-index: 2;
  /* width: 99.9999%; */
  /* margin:0 auto; */
}
#question {
  display: block;
  line-height: 2.5em;
  text-align: center;
}
#faq-head {
  text-align: center;
  margin-top: 2rem;
}
#last-section-signin {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* margin-top: -15%; */
  text-align: center;
}

#last-para {
  font-size: 1.4em;
}
#lasthr {
  width: 100%;
}

footer {
  margin-top: 10%;
  width: 90%;

  margin-left: auto;
  margin-right: auto;
}
table {
  transform: translateX(-12%);
  margin-left: auto;
  margin-right: auto;

  text-align: left;
}
td {
  color: var(--netgrey);
  font-size: smaller;
  padding: 7px;
}
td:hover {
  text-decoration: underline;
}
th {
  color: var(--netgrey);
  padding: 1em;
}
.dropbtn {
  background-color: #000000;
  color: var(--netgrey);
  padding: 10px 25px 10px 5px;
  font-size: 16px;
  border-color: white;
  border-width: 0.000001px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#gif-1,
#gif-3 ,#gif-4 {
  border-radius: 2em;
}

nav {
  width: 95em;
  text-align: center;
}
/* ///////////////////////////////////////////////////////////////////// */
/* light */
#bgmode {
  border-radius: 1em;
  padding: 0.2em 2em 0.2em 2em;
  text-align: center;
  font-family: var(--myfont);
  color: black;
  font-size: x-large;
  background-color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
#ques{ 
  margin: 0 !important;
  float: left;
  padding-bottom: 0;
  padding-top: 0;
}
.add{
  
  margin-left: 4.3em;
}
.close{
  margin-left: 4.3em;
  
}
#question { 
  height: 1em;
}
@media only screen and (max-width: 600px) {
  #home{ 
    overflow-x: hidden;
  }
  
  header {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("background-netflix.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    
  }
  #logo {
    height:2.5rem;
    width: 6.8rem;
    float: left;
  }
  #sign-in {
    padding: 0.2em 0.7em 0.2em 0.7em;
    background-color: var(--netred);
    border-radius: 0.2rem;
    text-decoration: none;
    color: white;
    font-size: small;
  }
  #lang-top {
    
    /* margin: 0 1.5em 0 0; */
    padding: 1.3px 19px 7px 7px;
    font-size: small;
    background-repeat: no-repeat;
    background: transparent;
    border-color: rgb(166, 166, 166, 0.5);
    border-width: 1px;
    box-shadow: none;
    margin-right: 0;
  }

  nav{ 
    width: 100%;
  }
  #bgmode{ 
    /* display: none; */
    float: right;
    font-size: small;
    padding: 0.1em 0.5em 0.1em 0.5em;
  }
  #intro-movies { 
    margin-top: 5%;
    font-size: 1.8em;
    font-weight: bold;
    padding: 1.5em;
  }
  #none{ 
    height:1vh ;
  }
  #mail{
    width: 90%;
    height: 2.5rem;
    margin-bottom: 1em;
  }
  .getst{ 
    height: 3em;
    width: 8em;
    font-size: x-small;
  }
  #watch {
    font-size: 1em;
    font-weight: lighter;
  }
  #ready {
    font-size: medium;
  }
  .content-text { 
    text-align: center;
    align-content: center;
    padding: 0.9em 0.5em 0.9em 0.5em;
  }
  .desc-plus-image{ 
    width: 100%;
    display: block;
    padding: 0;
    
  }
  
  .content-images{
    width: 100%;
    height: 34vh;
    padding: 1em 1em 1em 1em;
    margin-bottom: 3em;
  }
  #faqs{ 
    width: 100%;
  }
  .qa-box{
    width: 100%;
    
  }
  #question { 
    width: 100%;
    height: 2.5em;
    padding:0 ; 
  }
  .ans{
    text-align: left;
    width: 100%;
  }
  footer{
   
    padding: 3.5em;
    width: 100%;
  }
  #last-para{ 
    margin-top: 2.5em;
    font-size: medium;
  }
  .card-content-des{ 
    font-size: large;
  }
  .dropbtn{
    font-size: small;
  }
  #down-ques{
    text-align: left;
    color:grey
  }
  table{
    text-align: left;
  }
}